body {
  
  background-image: url("img_tree.gif"), url("paper.gif");
  background-color: #cccccc;
  background-image: url('assets/img/post-it-note.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  width: 80%;
}
